.moduleToolbar {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    min-height: 80px;
    z-index:20;
    position: sticky;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.129);
    top: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap:10px;
}