.button {
    font-family: "Work Sans";
    background-color:var(--black);
    border:none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: all;
    transition-duration: 0.4s;
}

.button:hover {
    background: #333333;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.button {
    text-decoration: none;
}
