.closeButton {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 10px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.8;
}