.floatContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.544);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 30px;
    /*overflow-y:scroll;*/
    min-height: 400px;
    max-height: 90vh;
    max-width: 90vw;
    min-width: 500px;
}