.pageHeader {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #1f2937;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.innerContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    /* 7xl */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* space-y-6 */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 640px) {
    .innerContainer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .innerContainer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.sectionCard {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

@media (min-width: 640px) {
    .sectionCard {
        border-radius: 0.5rem;
        padding: 2rem;
    }
}

.maxWidthXl {
    max-width: 36rem;
    /* xl */
    width: 100%;
}