.sectionHeader {
    margin-bottom: 1.5rem;
}

.sectionTitle {
    font-size: 1.125rem;
    font-weight: 500;
    color: #111827;
}

.sectionSubtitle {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #4b5563;
}

.formGroup {
    margin-top: 1.5rem;
}

.actionWrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.inputError {
    margin-top: 0.5rem;
}

.spacingY6 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mt1 {
    margin-top: 0.25rem;
}

.block {
    display: block;
}

.p6 {
    padding: 1.5rem;
}

.flexCenterGap4 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.successText {
    font-size: 0.875rem;
    color: #059669;
    /* green-600 */
}

.mutedText {
    font-size: 0.875rem;
    color: #4b5563;
    /* gray-600 */
}

.link {
    text-decoration: underline;
    color: #4b5563;
    transition: color 0.2s;
}

.link:hover {
    color: #111827;
}

.verificationWrapper {
    margin-top: 0.5rem;
}