@import url('root.module.css');

.hero {
    display: grid;
    font-family: "Work Sans", sans-serif;
    grid-template-columns: 1fr 2fr;
    width:80%;
}

.heroArt {
    width:100%
}

.heroTitle {
    font-family: "Pangolin";
    font-weight: normal;
    font-size: 4em;
}

.heroSubtitle {
    font-size: 1.3em;
}

.heroContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blackText {
    color: black;
}

.blueText {
    color: #005063;
}

.orangeText {
    color: #F7931E;
}

.right {
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
