.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.loginFormContainer{
    height:auto;
    background-color: var(--whiteop);
    display: flex;
    flex-direction: column;
    border-radius: 10px;;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    padding: 40px 40px;
    gap:10px;
    width: 50%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    width: 60%;
}

.registerLink {
    font-weight: bold;
    color: black;
}