.course-container{
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    /* background-color: red; */
}

.search-box{
    background-color: var(--white);
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
}

.search-box img{
    width: 30px;
    height: 30px;
    /* padding: 5px; */
    margin-right: 10px;
}

.search-box input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}