.button {
    font-family: "Work Sans";
    background-color: black;
    border:none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
}

.button:hover {
    background: linear-gradient(180deg, #1a1a1a, #333333);
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.button {
    text-decoration: none;
}