.inputContainer {
    font-family: "Work Sans";
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    font-family: "Work Sans";
    font-size: 1.1em;
    width: 100%;
    background-color: transparent;
    border: none;
}

.input::placeholder {
    color: #A9A9A9;
}

.input:focus {
    outline: none;
}

.inputWrapper {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 0.5rem;
    border-radius: 0.375rem;
    background-color: #F3F3F3;
    border:1px solid #E3E3E3;
}

.inputWrapper:focus-within {
    border-color:2px solid black;
}

.eye {
    margin-left: auto;
    cursor: pointer;
}