.inputContainer {
    font-family: "Work Sans";
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    font-family: "Work Sans";
    font-size: 1.1em;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    background-color: #F3F3F3;
    border:1px solid #E3E3E3;
}