.uploadBox {
    border: 3px dashed black;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    opacity: 0.5;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.cloudHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(226, 226, 226);
    border-radius: 100%;
}
